<%- include('includes/head'); %>
    <section class="container">
        <h1>Titulo</h1>
        <form action="/" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label for="icliente">cliente</label>
            <input type="text" name="cliente" placeholder="digite seu nome" id="icliente">
            <button>enviar</button>
        </form>
    </section>

    <%- include('includes/footer') %>